body{
    background-color: #fff;
    transform-style: preserve-3d;

}
.accordion-summary{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    height: 100%;
    
}

.btn-2{
    padding: 10px;
}
.div {
    margin-bottom: 10px;
}

.active{
    background-color:blue;
}

/* .one{
    margin-bottom: 10px;
} */

/* .div{
    background-color: green;
    border: green;
    width: 10px;
    height: 10px;
    margin-bottom: 20px;
} */

/* .css{
    background-color: red;
} */

.btn{
    padding: 10px;
}

.accordion__list {
    margin: 0;
}

.accordion{
    width: 500px;
    margin-bottom: 10px;
    list-style: none ;
}

.accordion__control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #888;
    list-style: none;
    background-color: transparent;
    width: 100%;
}
.accordion__control::-webkit-details-marker{
    display: none;
}

.accordion__title{
    margin: 0;
    font-weight: bold;
    font-size: 1.17em;
}

.accordion__icon{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #bfbfbf;
}

.accordion__icon::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 1px;
    background: #000;
    transform: translate(-50%, -50%);
}

.accordion__icon::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 50%;
    background: #000;
    transform: translate(-50%, -50%);
}

.accordion__content{
    padding: 20px;
    border: 1px solid #888;
    border-top: 1px solid transparent;
    display: none;
}

.open .accordion__content{
    display: block;
}

.open .accordion__icon{
    transform: rotate(45deg);
}


